@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Merriweather:wght@900&display=swap" rel="stylesheet');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navbar */
nav{
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 30px;
    position: fixed;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
}

.navbar-content{
    display: flex;
    align-items: center;
    gap: 96px;
}

li{
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
}

a,button{
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

nav li a{
    color: white;
    transition: 0.3s
}

nav li a:hover{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    padding: 10px;
}

/* Section 1 */

#Section1{
    background: url(../Asset/background\ 1\ crop.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.section-content h1{
    font-family: 'Kdam Thmor Pro', sans-serif;
    word-spacing: 0.4cm;
    color: white;
    padding: 30px;
    text-align: center;
}

.section-content h2{
    font-family: 'Kdam Thmor Pro', sans-serif;
    word-spacing: 0.4cm;
    color: white;
    padding: 75px;
    text-align: center;
    font-size: 85px;
}

/* Section 2 */
#Section2{
    background: url(../Asset/falcon\ heavy.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    align-items: center;
}

.section2-content h1{
    font-family: 'Kdam Thmor Pro', sans-serif;
    word-spacing: 0.4cm;
    color: white;
    padding: 40px;
    text-align: right;
    font-size: 50px;
    text-transform: uppercase;
    margin: 0;
    margin-left: 100vh;
    margin-right: 250px;
    
}

/* Section 3 */
#Section3{
    background: url(../Asset/background\ 3.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    /* justify-content: right; */
    align-items: center;
}

.section3-content{
    margin: 0;
    margin-left: 150vh;
}


.section3-content h1{
    font-family: 'Kdam Thmor Pro', sans-serif;
    word-spacing: 0.4cm;
    color: white;
    padding: 0px;
    text-align: right;
    font-size: 35px;
    padding-left: 10px;
    text-transform: uppercase;
    margin-right: 250px;
    text-align: left;
}

.section3-content a{
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    cursor: pointer;
    background-color: hsla(41, 69%, 48%, 0.123);
    border-radius: 30px;
    padding: 10px;
    font-size: 75px;
    transition: 0.1s;
    
}

.section3-content a:hover{
    background-color: rgba(202, 35, 35, 0.178);
    border-radius: 25px;
    padding: 20px;
    transition: 0.3s;
}

/* footer */

#Footer{
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 10px 30px;
}

.Footer-container{
    display: flex;
    justify-content: space-between;
}

.Footer-content li{
    margin-top: 50px;
    display: block;
    margin-right: 200px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.Footer-content li:hover{
    background-color: rgba(202, 35, 35, 0.178);
    border-radius: 25px;
    padding: 10px;
    transition: 0.3s;
    margin-top: 30px;
}

.information{
    padding-left: 10px;
    padding-bottom: 60px;
}

.information p{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 20px;
    color: white;
}




